body{
  background-color: linen;
}

img{
  width : 200px;
  height : 300px;
  padding : 10px;
}

h2{
  text-align: center;
  text-shadow: 1px 1px;
}

strong{
  color: purple;
  padding:5px;
  border-radius: 10px;
}

.door{
  width : 250px;
  margin : 2px yellow solid;
  padding: 3px;
  align : center;
  display: inline-block;
  border-radius: 20px;
}

.door:hover{
  background-color: #F2EAED;
}

.button{
  font-size: 20px;
  font-family: fantasy;
  display : none;
  border: 2px black solid;
  border-radius: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  transition: padding-left 0.5s;
  transition: padding-right 0.5s;
}

.button:hover{
  background-color: rgba(232, 234, 235, 0.5);
  padding-left: 20px;
  padding-right: 20px;
}

.images{
  border-radius: 50px;
}

#win{
  align: left;
  text-align: left;
  margin-left: 20px;
}

#lose{
  text-align: left;
  width: 800px;
  margin-left: 20px;
  overflow: visible;
}

#top{
  overflow: auto;
}

#topLeft{
  width: 50%;
  float: left;
  clear: left;
}

#topRight{
  width: 50%;
  float: right;
  clear: right;
}

#container{
  width: 800px;
  margin: 0 auto;
  border: 1px black solid;
  text-align: center;
  background-image: url('background.jpg');
  background-size: auto;
}

#play_again{
  padding : 5px;
  font-family: monospace;
  font-size: 15px;
  background-color: beige;
  border-radius: 10px;
}

#result{
  background-color: white;
  font-size: 20px;
  font-style: italic;
  font-family: fantasy;
}

#yes{
  margin-right: 20px;
}

#no{
  margin-left: 20px;
}

#simulation{
  text-align: right;
  margin-right: 20px;
}

#simuInput{
  width: 50px;
}
